@import "compass";

$phone-ls-max-width:479px;
$tablet-p-max-width:767px;
$tablet-ls-max-width:979px;
$desktop-min-width:980px;
$wide-min-width:1200px;

$foreground:white;
$accent:#8c0;
$accent-highlight:#bf5;

@-ms-viewport{
	width: auto;
}

.ui-hide {
	display:none;
}

body {
	background: #111;
	color: #999;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

	@media(min-width:$desktop-min-width) {
		padding-top:80px;
	}
}

a {
	color: $accent;

	&:hover {
		color: $accent-highlight;
	}
}

header .navbar {
	.nav {
		margin-top: 20px;

		@media(max-width:479px) {
			margin-top:10px;
		}
	}
	.brand {
		height:60px;
		width:60px;
		margin-left:5px;
		padding-left:0;

		@media(max-width:$tablet-ls-max-width) {
			height:30px;
			width:30px;
			margin-left:10px;
		}

		.glyph {
			height:100%;
		}

		span {
			display:none;
		}
	}
}

svg {
	width:100%;
	height:100%;
	.fill-foreground {
		fill:white;
	}
	.fill-accent {
		fill:$accent;
	}
}

.grid-bookmarks {
	$line-height: 2em;

	list-style:none;
	margin:0;

	> li {
		float:left;
		padding-bottom:1em;

		width:percentage(9/50);
		margin-right:percentage(1/50);

		@media(min-width:$wide-min-width) {
			width:percentage(9/60);
			margin-right:percentage(1/60);
		}
		@media(max-width:$tablet-p-max-width) {
			width:percentage(9/30);
			margin-right:percentage(1/30);
		}
		@media(max-width:$phone-ls-max-width) {
			width:percentage(9/20);
			margin-right:percentage(1/20);
		}

		> a {
			display:block;

			&:hover img {
				border-color:$accent;
			}
		}
		img {
			width:100%;
			@include border-radius(4px);
			border: 2px solid transparent;
			border-bottom-color: #333;
			@include transition(all 0.3s);
		}
		ul {
			list-style:none;
			margin:0;
			text-align:center;
			height:$line-height;
		}
		li {
			display:inline;
			line-height:$line-height;

			&:before {
				content:" | ";
			}
			&:first-child:before {
				content:"";
			}
			a {
			}
		}
	}
}

.pin-helper {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#333;

	&.ui-hide {
		// display:block;
		@include opacity(0);
	}

	.glyph {
		height:100%;

		/*.group-bl > g {
			@include scale(0.6);
			@include transform-origin(72.5px, 60px);
		}*/
	}
}

.wordplay {
	position:fixed;
	width:100%;height:100%;
	background:#f60;
	top:0;left:0;
	font-size:40px;font-weight:bold;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;

	.block { 
		position:absolute;
		width:100%;height:100%;
		background:black;
		top:0;left:0;

		@include transition(all 3s);
	}
	.block-bottom { 
		height:50%;
		top:50%;
	}
	.block-i {
		background:white;
		top:50%;
		left:50%;

		//specific to word/letter
		width: 44px;
		height: 142px;
		margin-top: -142px;
		margin-left: 32px;
	}
	.word { 
		letter-spacing:-0.15em;
		font-size:5em;
		line-height:1em;
		text-align:center;
		position:absolute;
		width:100%;
		top:50%;left:0;
		color:black;

		span {
			display:inline-block;
		}
	}
	.word-baseline-center { 
		margin-top:-0.89em;
	}
	.slid-down {
		@include translate(0, 73%);
	}
	.shrunk {
		@include scale(0.5, 0.5);
	}
	.shrunk-down {
		@include transform-origin(50%,89%);
	}
}