$mobile-max-width:767px;
$desktop-min-width:980px;
$wide-min-width:1200px;

@-ms-viewport{
	width: auto;
}

body {
	background: #111;
	color: #999;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

	@media(min-width:$desktop-min-width) {
		padding-top:80px;
	}
}

a {
	color: #9f0;

	&:hover {
		color: #bf5;
	}
}

.grid-bookmarks {
	$line-height: 2em;

	list-style:none;
	margin:0;

	> li {
		float:left;
		padding-bottom:1em;

		width:percentage(9/50);
		margin-right:percentage(1/50);

		@media(min-width:$wide-min-width) {
			width:percentage(9/70);
			margin-right:percentage(1/70);
		}
		@media(max-width:$mobile-max-width) {
			width:percentage(9/30);
			margin-right:percentage(1/30);
		}
		@media(max-width:479px) {
			width:percentage(9/20);
			margin-right:percentage(1/20);
		}

		> a {
			display:block;

			&:hover img {
				border-color:#9f0;
			}
		}
		img {
			width:100%;
			border-radius: 4px;
			border: 2px solid transparent;
			border-bottom-color: #333;
		}
		ul {
			list-style:none;
			margin:0;
			text-align:center;
			height:$line-height;
		}
		li {
			display:inline;
			line-height:$line-height;

			&:before {
				content:" | ";
			}
			&:first-child:before {
				content:"";
			}
			a {
			}
		}
	}
}
